.Action-Wrapper {
  display: flex;
  flex-direction: column;
  height: 5em;
  justify-content: center;
}

.Action-Wrapper div {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.25em;
}

.Action-Wrapper input {
  background: #edeff0;
  border: none;
  border-bottom: 2px solid #edeff0;
  border-radius: 0;
  box-sizing: border-box;
  font: inherit;
  height: 2em;
  margin: 0 0.25em;
  padding: 0.25em;
  transition: 0.3s border-bottom;
  width: 10em;
}

.Action-Wrapper input:focus {
  border-bottom: 2px solid #2bbbad;
  outline: none;
  transition: 0.3s border-bottom;
}

.unfocused {
  background: #888;
}

.unfocused:hover {
  background: #999;
}
