@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@media all and (min-width: 760px) {
  body {
    font-size: 23px;
  }
}
@media all and (max-width: 760px) {
  body {
    font-size: 22px;
  }
}
@media all and (max-width: 720px) {
  body {
    font-size: 21px;
  }
}
@media all and (max-width: 680px) {
  body {
    font-size: 20px;
  }
}
@media all and (max-width: 640px) {
  body {
    font-size: 19px;
  }
}
@media all and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}
@media all and (max-width: 560px) {
  body {
    font-size: 17px;
  }
}
@media all and (max-width: 520px) {
  body {
    font-size: 16px;
  }
}
@media all and (max-width: 400px) {
  body {
    font-size: 15px;
  }
}
@media all and (max-width: 360px) {
  body {
    font-size: 14px;
  }
}
@media all and (max-width: 330px) {
  body {
    font-size: 13px;
  }
}
@media all and (max-width: 300px) {
  body {
    font-size: 12px;
  }
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.App-Wrapper {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "Verdana", sans-serif;
  margin: 0 auto;
  max-width: 40em;
}

button {
  background-color: #26a69a;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  font: inherit;
  height: 2em;
  margin: 0 0.25em;
  padding: 0 1em 0.25em;
  text-align: center;
  text-decoration: none;
  transition: 0.3s background-color;
  vertical-align: middle;
}

button:hover {
  background-color: #2bbbad;
  transition: 0.3s background-color;
}

button.small {
  font-size: 0.8em;
  height: 1.5em;
  padding: 0 0.75em 0.25em;
}

button.gray {
  background-color: #888;
}

button.gray:hover {
  background-color: #999;
}

input,
select,
textarea {
  background: #f0f0f0;
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0;
  box-sizing: border-box;
  font: inherit;
  height: 2em;
  margin: 0 0.25em;
  padding: 0.25em;
  transition: 0.3s border-bottom;
  vertical-align: middle;
  width: 10em;
}

textarea {
  height: 5em;
  width: 100%;
}

input:focus,
select:focus {
  border-bottom: 2px solid #2bbbad;
  outline: none;
  transition: 0.3s border-bottom;
}

a {
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  color: #26a69a;
  text-decoration: none;
  transition: 0.3s border-bottom;
}

a:hover {
  border-bottom: 2px solid #26a69a;
  transition: 0.3s border-bottom;
}
