.Players-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0;
}

.Players-Table {
  border: none;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.Players-Table td, .Players-Table th {
  padding: 0.5em 0.25em;
}

.Players-ToggleCell {
  text-align: right;
}

.Players-Table tbody tr:nth-child(2n+1) {
  background-color: #edeff0;
}

.Players-ToggledOffToggle {
  background-color: #888;
}

.Players-ToggledOffToggle:hover {
  background-color: #999;
}

.toggledOff {
  text-decoration: line-through;
}

.guessing, .hidden, .notSubmitted {
  color: #ccc;
}
